Repository GEOS-ESM/GEOSchem_GridComp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/chemistry-gatekeepers, @adarmenov, @christophkeller, @GEOS-ESM/cmake-team

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# This makes all files here owned by the Chem Gatekeepers by default
* @GEOS-ESM/chemistry-gatekeepers

# Anton is CODEOWNER of some directories so he is informed
DNA_GridComp/ @adarmenov
GAAS_GridComp/ @adarmenov
GEOSachem_GridComp/ @adarmenov
GOCART_GridComp/ @adarmenov
MAMchem_GridComp/ @adarmenov
MATRIXchem_GridComp/ @adarmenov

# Some files are important to both the gatekeepers and adarmenov
Shared/Chem_Base/ @GEOS-ESM/chemistry-gatekeepers @adarmenov
Shared/Chem_Shared/ @GEOS-ESM/chemistry-gatekeepers @adarmenov
GEOS_ChemEnvGridComp.F90 @GEOS-ESM/chemistry-gatekeepers @adarmenov
GEOS_ChemGridComp.F90 @GEOS-ESM/chemistry-gatekeepers @adarmenov

# Christoph should be CODEOWNER of GCC and HEMCO
GEOSCHEMchem_GridComp/ @christophkeller
HEMCO_GridComp/ @christophkeller
Shared/HEMCO/ @christophkeller

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team

Fixes #30. Remove sulfur code from GMI Chemistry
  GMIchem_GridComp/CMakeLists.txt
  GMIchem_GridComp/GMI_GridComp/GmiChemistry/sulfur/aqu_sulfchem.F90
  GMIchem_GridComp/GMI_GridComp/GmiChemistry/sulfur/const_so2topar.F90
  GMIchem_GridComp/GMI_GridComp/GmiChemistry/sulfur/const_sulf_update.F90
  GMIchem_GridComp/GMI_GridComp/GmiChemistry/sulfur/gas_sulfchem.F90
  GMIchem_GridComp/GMI_GridComp/GmiChemistry/sulfur/qk_aqu_rates.F90
  GMIchem_GridComp/GMI_GridComp/GmiChemistry/sulfur/qk_gas_rates.F90
  GMIchem_GridComp/GMI_GridComp/GmiChemistry/sulfur/setup_aquchem.F90
  GMIchem_GridComp/GMI_GridComp/GmiChemistry/sulfur/so2topar_rates.F90
  GMIchem_GridComp/GMI_GridComp/GmiChemistry/sulfur/sulfchem.F90
  GMIchem_GridComp/GMI_GridComp/GmiChemistry/sulfur/sulfchem_solver.F90
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/chemistry-gatekeepers

Modernize python code in MAM/optics
  MAMchem_GridComp/optics/gads.py
  MAMchem_GridComp/optics/radiation.py
Owners: @adarmenov

Turn off TR
  GEOS_ChemGridComp.rc
Owners: @GEOS-ESM/chemistry-gatekeepers

update to accomate GOCARTng
  CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

prints added
  GEOS_ChemGridComp.F90
Owners: @GEOS-ESM/chemistry-gatekeepers, @adarmenov

added GOCARTng
  GEOS_ChemGridComp.rc
Owners: @GEOS-ESM/chemistry-gatekeepers

refactored dust
  GOCART_GridComp/DU_GridComp/DU_GridCompMod.F90
Owners: @adarmenov

prints added
  GOCART_GridComp/GOCART_GridCompMod.F90
Owners: @adarmenov

refactored black carbon
  GOCARTng_GridComp/BCng_GridComp/BCng_GridCompMod.F90
Owners: @GEOS-ESM/chemistry-gatekeepers

new file for BC
  GOCARTng_GridComp/BCng_GridComp/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

new cmake for GOCARTng
  GOCARTng_GridComp/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

new cmake for refactored dust
  GOCARTng_GridComp/DUng_GridComp/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

facatored dust
  GOCARTng_GridComp/DUng_GridComp/DUng_GridCompMod.F90
Owners: @GEOS-ESM/chemistry-gatekeepers

resource file
  GOCARTng_GridComp/DUng_GridComp/DUng_GridComp_DU.data.rc
Owners: @GEOS-ESM/chemistry-gatekeepers

ExtData file
  GOCARTng_GridComp/DUng_GridComp/DUng_GridComp_ExtData.rc
Owners: @GEOS-ESM/chemistry-gatekeepers

refactored GOCART
  GOCARTng_GridComp/GOCART_GridCompMod.F90
Owners: @GEOS-ESM/chemistry-gatekeepers

resource file
  GOCARTng_GridComp/GOCARTng_GridComp.rc
Owners: @GEOS-ESM/chemistry-gatekeepers
