Repository GEOS-ESM/GEOSchem_GridComp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/chemistry-gatekeepers, @GEOS-ESM/aerosol-team, @GEOS-ESM/geoschemchem-team, @GEOS-ESM/python-transition-team, @GEOS-ESM/cmake-team

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# This makes all files here owned by the Chem Gatekeepers by default
*                        @GEOS-ESM/chemistry-gatekeepers

# The Aerosol Team is CODEOWNER of some directories along with Chem Gatekeepers
Shared/Chem_Base/        @GEOS-ESM/aerosol-team      @GEOS-ESM/chemistry-gatekeepers
Shared/Chem_Shared/      @GEOS-ESM/aerosol-team      @GEOS-ESM/chemistry-gatekeepers
GEOS_ChemEnvGridComp.F90 @GEOS-ESM/aerosol-team      @GEOS-ESM/chemistry-gatekeepers
GEOS_ChemGridComp.F90    @GEOS-ESM/aerosol-team      @GEOS-ESM/chemistry-gatekeepers

# The GEOSCHEMchem team should be CODEOWNER of GCC and HEMCO
GEOSCHEMchem_GridComp/   @GEOS-ESM/geoschemchem-team @GEOS-ESM/chemistry-gatekeepers
HEMCO_GridComp/          @GEOS-ESM/geoschemchem-team @GEOS-ESM/chemistry-gatekeepers
Shared/HEMCO/            @GEOS-ESM/geoschemchem-team @GEOS-ESM/chemistry-gatekeepers

# The Python Transition Team will own Python files
# until the Python 3 transition is completed
*.py @GEOS-ESM/python-transition-team

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt           @GEOS-ESM/cmake-team

Update CI to use Baselibs 7.13.0
  .circleci/config.yml
  CHANGELOG.md
Owners: @GEOS-ESM/chemistry-gatekeepers

Initial commit with ATB-based PBLH
  GEOS_ChemGridComp.F90
Owners: @GEOS-ESM/aerosol-team, @GEOS-ESM/chemistry-gatekeepers

Added flag usePreconCape
  ChemEnv.rc
Owners: @GEOS-ESM/chemistry-gatekeepers

Added code to support usePreconCape in the Lightning LFR calculations
  GEOS_ChemEnvGridComp.F90
  Shared/Chem_Shared/Lightning_mod.F90
Owners: @GEOS-ESM/aerosol-team, @GEOS-ESM/chemistry-gatekeepers

Added code to support ACHEM OCS coupled w/ GMI, but Benchmark G does not take advantage of this
  GEOS_ChemGridComp.F90
Owners: @GEOS-ESM/aerosol-team, @GEOS-ESM/chemistry-gatekeepers

Added TOTABCKTOA as export
  GEOS_ChemGridComp.F90
Owners: @GEOS-ESM/aerosol-team, @GEOS-ESM/chemistry-gatekeepers

Remove WLI export for compatibility with GEOS-Chem 14.2.0 / HEMCO 3.7.0
  HEMCO_GridComp/HEMCO_GridCompMod.F90
Owners: @GEOS-ESM/geoschemchem-team, @GEOS-ESM/chemistry-gatekeepers

Fix ESMF_VMGet call in GAAS
  CHANGELOG.md
  GAAS_GridComp/LDE_Mod.F90
Owners: @GEOS-ESM/chemistry-gatekeepers

Update CircleCI to use Orb Default Baselibs and BCs
  .circleci/config.yml
Owners: @GEOS-ESM/chemistry-gatekeepers

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/chemistry-gatekeepers
